@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: opacity .2s;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.container{
  max-width: 1147px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header{
  background: rgb(225,198,186);
  background: linear-gradient(93deg, rgba(225,198,186,1) 0%, rgba(95,71,63,1) 98%, rgba(102,82,73,1) 100%, rgba(99,79,70,1) 100%);
  background-image: url("./images/header-banner.png");  
  padding-top: 93px;
  padding-bottom: 240px;
  background-size: cover;

}

.header-top{
  display: flex ;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 145px;
}

.header-logo{
  display: flex;
}

.header-logo:hover{
  opacity: 0.8;
}

.header-nav-list{
  display: flex ;
  gap: 60px;
  list-style: none;
  flex-wrap: wrap;
}

.header-nav-link{
  text-decoration: none;
  color: white;
}

.header-nav-link:hover{
  opacity: .8;
}


/* hero  */

.hero{
  color: white;
}

.hero-title{
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 26px;
}

.hero-text{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 106px;
}

.hero-link{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
color: #FFFFFF;
}

.hero-link:hover{
  opacity: .8;
}


/* about */
.about{
  padding: 93px 0 115px 0 ;
}

.about-title{
  margin-bottom: 76px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

.about-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justify;

}

.peach-link{
  background-color: #333;
  font-size: 32px;
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
}

.group  {
  display: none;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.group  a{
  color: white;
}

@media (max-width:768px) {
  .header{
    padding: 36px 0 50px;
  }
  .header-top{
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
  }
  .group{
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    display: flex;
    cursor: pointer;
  }

  .header-nav{
    display: none;
   
  }
  .header-nav-list{
    gap: 20px;
    padding-left: 30px;
    flex-direction: column;
  }
  .hero{
    text-align: center;
  }
  .hero-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 13px;
  }
  .hero-text{
    font-family: Libre Franklin;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin-bottom: 41px;

  }

  .about{
    text-align: center;
    padding: 25px 0 50px;
  }
  .about-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: justify;
    margin-bottom: 19px;
  }
  .about-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: justify;

  }
}